# Default ignored files
/shelf/
/workspace.xml
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf/
.idea/.gitignore
.DS_Store
.vscode/settings.json
.idea/libraries/mysql_connector_java_8_0_23.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
ENSF-480-Term-Project.iml
out/*